import init.yukawa.usb.rc

on early-init
    # mount debugfs
    mount debugfs /sys/kernel/debug /sys/kernel/debug mode=755

    # Force performance governor
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor performance
    
    # Boot time fs tuning
    write /sys/block/mmcblk0/queue/iostats 0
    write /sys/block/mmcblk0/queue/scheduler bfq
    write /sys/block/mmcblk0/queue/nr_requests 256

on init
    # ZRAM setup
    write /proc/sys/vm/page-cluster 0
    write /proc/sys/vm/swappiness 100

    # Some user code relies on ro.boot.hardware.revision
    setprop ro.boot.hardware.revision ${ro.revision}

    # Apply network parameters optimized for low RAM
    write /proc/sys/net/core/rmem_default 163840
    write /proc/sys/net/core/rmem_max 4194304
    write /proc/sys/net/core/wmem_default 163840
    write /proc/sys/net/core/wmem_max 4194304
    write /proc/sys/net/core/optmem_max 10240
    write /proc/sys/net/core/netdev_max_backlog 5000
    write /proc/sys/net/ipv4/tcp_rmem "1048576 2097152 4194304"
    write /proc/sys/net/ipv4/tcp_wmem "131072 262144 524288"
    write /proc/sys/net/ipv4/tcp_mem "22129 29506 44259"
    write /proc/sys/net/ipv4/udp_mem "44259 59012 88518"

    # Additional low memory optimizations
    write /proc/sys/vm/vfs_cache_pressure 200
    write /proc/sys/vm/dirty_background_ratio 5
    write /proc/sys/vm/dirty_ratio 10
    write /proc/sys/vm/min_free_kbytes 8192



    start watchdogd

on boot
    # Allow to access debugfs for system:system
    chmod 0755 /sys/kernel/debug
    chown system system /sys/kernel/debug
    # Set up kernel tracing, but disable it by default
    chmod 0222 /sys/kernel/debug/tracing/trace_marker
    write /sys/kernel/debug/tracing/tracing_on 0

    # Limit background processes for low RAM
    setprop ro.sys.fw.bg_apps_limit 8
    setprop ro.vendor.perf.cores_online 4

on early-fs
    # Start bootanimation class before mount
    start bootanim
    class_start animation
   
    mount_all --early

on post-fs
    chown root shell /sys/kernel/tracing/options
    chown root shell /sys/kernel/tracing/events
    chown root shell /sys/kernel/tracing/events/sched
    chown root shell /sys/kernel/tracing/events/sched/sched_switch
    chown root shell /sys/kernel/tracing/events/sched/sched_wakeup

on late-fs
    mount_all --late
    # Load ZRAM modules before swap activation
    exec_start load_zram_modules
    swapon_all

service load_zram_modules /vendor/bin/modprobe -a -d /system_dlkm/lib/modules zsmalloc zram
    class core
    user root
    group root
    disabled
    oneshot
    seclabel u:r:modprobe:s0

on post-fs-data
    # Create the directories used by the Wireless subsystem
    mkdir /data/vendor/wifi 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa/sockets 0770 wifi wifi


